body {
    font-family: "Segoe UI", Arial, sans-serif;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,121,204,1) 0%, rgba(186,204,227,1) 0%, rgba(238,221,168,1) 100%);}
  
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    color: #191818;
  }

  .page-heade{
    display: inline-grid;
  }
  

  .container {
    width: 80%;
    justify-content: center;
    text-align: center;
    margin-left: 10%;
    border-style: initial;
  }

.kozmobag-logo {
    align-items: center;
    height: 160px;
  }
  
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}